@media (max-width: 600px) {
  /* mobile */
  *{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    background: #F8F8FF;
  }
  .header{
    width: 100%;
    height: 100vh;
    background: #F8F8FF;
    padding-left: 11%;
    padding-right: 8%;
  }
  .top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid#bababa;
  }
  .top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-nav ul li a{
    color: #BC8F8F;
    font-size: 15px;
  }
  .top-nav button {
    background: #BC8F8F;
    color: #FFF;
    border:0;
    outline: 0;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
  }
  h1 {
    color: #BC8F8F;
    font-size: xx-large;
    padding: 1em;
    font-family: monospace;
  }
  h2 {
    color: #BC8F8F;
    font-size: x-large;
    padding: 1em;
    font-family: monospace;
  }
  h3 {
    color: #BC8F8F;
    font-size: medium;
    padding: 1em;
    font-family: monospace;
  }
  p {
    font-size: large;
    font-size-adjust: inherit;
    font-family: monospace;
  }
    /* frontpage */
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .image {
    float: left;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }
  .text {
    float: right;
    width: 100%;
    color: black;
    padding: 1em;
  }
  .img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .bottomimg {
    width: 100%;
    height: 20%;
    float: none;
    margin: auto;
  }
  .h1 {
    color: #BC8F8F;
    font-size: small;
    padding: 1em;
    font-family: monospace;
  }

  /* portfolio */
  .projekt1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
  .projekt2 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
  .projekt3 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
  .projekt4 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
  .projekt5 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }

  /* kontakt */

  .kontakt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .image2 {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }
  .text2 {
    color: #BC8F8F;
    font-weight: bold;
    padding: 1em;
  }
  .h1 {
    color: black;
    font-size: xx-large;
    padding: 1em;
    font-family: monospace;
  }
  .p2 {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #BC8F8F;
    font-size: x-large;
    color: black;
    padding: 1em;
    font-family: monospace;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  /* tablets */
  *{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    background: #F8F8FF;
  }
  .header{
    width: 100%;
    height: 100vh;
    background: #F8F8FF;
    padding-left: 11%;
    padding-right: 8%;
  }
  .top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid#bababa;
  }
  .top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-nav ul li a{
    text-decoration-color: #BC8F8F;
    color: #BC8F8F;
    font-size: 15px;
  }
  .top-nav button {
    background: #BC8F8F;
    color: #FFF;
    border:0;
    outline: 0;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
  }
  h1 {
    color: #BC8F8F;
    font-size: xx-large;
    padding: 1em;
    font-family: monospace;
  }
  h2 {
    color: #BC8F8F;
    font-size: x-large;
    padding: 1em;
    font-family: monospace;
  }
  h3 {
    color: #BC8F8F;
    font-size: medium;
    padding: 1em;
    font-family: monospace;
  }
  p {
    font-size: large;
    font-family: monospace;
  }
    /* frontpage */
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .image {
      float: left;
      width: 100%;
      height: 100%;
      border-width: 2px;
      border-color: black;
      border-style: solid;
    }
    .text {
      float: right;
      width: 100%;
      color: black;
      font-size: smaller;
      padding: 1em;
    }
    .bottomimg {
      width: 400px;
      height: 100px;
      float: none;
      margin: auto;
    }
    .h1 {
      color: #BC8F8F;
      font-size: smaller;
      padding: 1em;
      font-family: monospace;
    }

    /* portfolio */
    .projekt1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .projekt2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .projekt3 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .projekt4 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .projekt5 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    /* kontakt */

    .kontakt {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .image2 {
      width: 100%;
      height: 100%;
      border-width: 2px;
      border-color: black;
      border-style: solid;
    }
    .text2 {
      color: #BC8F8F;
      font-size: x-large;
      font-weight: bold;
      padding: 1em;
    }
    .h1 {
      color: black;
      font-size: xx-large;
      padding: 1em;
      font-family: monospace;
    }
    .p2 {
      border-width: 2px;
      border-color: black;
      border-style: solid;
      background-color: #BC8F8F;
      font-size: x-large;
      color: black;
      padding: 1em;
      font-family: monospace;
    }
}
@media (min-width: 1024px) {
/* pc */
*{
  margin: 0;
  padding: 0;
font-family: monospace;
  box-sizing: border-box;
  background: #F8F8FF;
}
.header{
  width: 100%;
  height: 100vh;
  background: #F8F8FF;
  padding-left: 11%;
  padding-right: 8%;
}
.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px;
  border-bottom: 1px solid #bababa;
}
.top-nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-nav ul li a{
  text-decoration-color: #BC8F8F;
  color: #BC8F8F;
  font-size: 15px;
}
.top-nav button {
  background: #BC8F8F;
  color: #FFF;
  border:0;
  outline: 0;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}
h1 {
  color: #BC8F8F;
  font-size: xx-large;
  padding: 1em;
  font-family: monospace;
}
h2 {
  color: #BC8F8F;
  font-size: x-large;
  padding: 1em;
  font-family: monospace;
}
h3 {
  color: #BC8F8F;
  font-size: medium;
  font-family: monospace;
  padding: 1em;
}
p {
  font-family: monospace;
  padding: 1em;
}


/* frontpage */
.container {
  display: flex;
}
.image {
  float: left;
  width: 50%;
  height: 50%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.text {
  float: right;
  width: 50%;
  color: black;
  font-size: large;
  padding: 1em;
}
.img {
   width: 400px;
   height: 100px;
   float: right;
   margin: auto;
}
.bottomimg {
  width: 400px;
  height: 100px;
  float: none;
  margin: auto;
}
/* portfolio */
.projekt1 {
  display: flex;
  padding: 1em;
}
.projekt2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
  float: left;
}
.projekt3 {
  display: flex;
  padding: 1em;
  float: right;
}
.projekt4 {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
  float: left;
}
.projekt5 {
  display: flex;
  padding: 1em;
  float: right;
}
/* kontakt */

.kontakt {
  display: flex;
  flex-direction: row-reverse;
}
.image2 {
  width: 40%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.text2 {
  width: 50%;
  color: #BC8F8F;
  font-size: x-large;
  font-weight: bold;
  padding: 1em;
}
.h1 {
  color: black;
  font-size: xx-large;
  padding: 1em;
  font-family: monospace;
}
.p2 {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: #BC8F8F;
  font-size: x-large;
  color: black;
  padding: 1em;
  font-family: monospace;
}
}
